h2 {font-size: 3in;
    color: magenta;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p {font-size: 120px;
color: teal;
font-family: Arial, Helvetica, sans-serif;}
