* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    width: 100%;
    height: 110px;
    background-color: #8cbf3f;
}

nav img {
    width: 105px;
    height: 105px;
    ;
    float: left
}

nav ul {
    list-style-type: none;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    font-size: 20pt;
    margin-top: 20px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    line-height: 2;
    color: #f2cc0f;
}
.topnav{
    display: none;
}
.container{
    background-color: #f2cc0f;
    width: 100%;
}
.allcontacts{
    width: 80%;
    font-size: 18pt;
    margin-left: 10px;
    height: 550px;
}

#email, #lname , #fname{
    margin-bottom: 10px;
    width: 45%;
    line-height: 1.5;
}
.contactus{
    width: 60% ;
    font-size: 18pt;
}
footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #8cbf3f;
    color: white;
    text-align: center;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;
    background-color: #f2f2f2;
    margin-left: 8px;
}

.fa:hover {
    opacity: 0.7;}
    @media (min-width:480px) and (max-width:810px) {
        header,
        section {
            width: 100%;}
        .topnav{
            display: none;
        }
        nav ul li a {
            font-size: 15pt;
            margin-top: 30px;
            width: 60px;
        }
    }
    @media(min-width:250px) and (max-width:480px) {
        header,
        section {
        width: 100%;
        }
        nav{
            display: none;
        }
        .topnav {
            overflow: hidden;
            background-color: #333;
            position: relative;
            display: block;
        }
        .topnav #myLinks {
            display: none;
        }
        
        .topnav a {
            color: white;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
            display: block;
        }
        
        .topnav a.icon {
            background: black;
            display: block;
            position: absolute;
            right: 0;
            top: 0;
        }
        
        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }
        
        .active {
            background-color: #04AA6D;
            color: white;
        }
        .allcontacts label{
            display: none;
        }
    }