*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    width: 100%;
    height: 110px;
    background-color: #8cbf3f;
}

nav img {
    width: 105px;
    height: 105px;
    ;
    float: left
}

nav ul {
    list-style-type: none;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    font-size: 20pt;
    margin-top: 20px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    line-height: 2;
    color: #f2cc0f;
}
.topnav{
    display: none;
}
/** photo lightbox**/
.row>.column {
    padding: 0 8px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.firstphoto,.thirdphoto{
    float: left;
    width: 40%;
    background-color: #f2cc0f
}
.secondphoto, .forthphoto{
    background-color: #f2cc0f
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}
/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}
.mySlides {
    display: none;
}
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.photos img{
    height: 300px;
    width: 300px;
}
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);}
    /**videos**/
.videos{
background-color: #9453a6;
grid-template-columns: 33.3%, 33.3%, 33.3%;
gap: 20px;
}
.secondvid{
    float: left;
    margin-right: 30px;
}
.firstv{
    float:left;
    margin-right: 30px;
    margin-left: 90px;
}
footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #8cbf3f;
    color: white;
    text-align: center;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;
    background-color: #f2f2f2;
    margin-left: 8px;
}

.fa:hover {
    opacity: 0.7;
}
@media (min-width:480px) and (max-width:810px) {
    header,
    section {
        width: 100%;}
    .topnav{
        display: none;
    }
    nav ul li a {
        font-size: 15pt;
        margin-top: 30px;
        width: 60px;
    }
    .firstphoto,.secondphoto,.thirdphoto,.forthphoto {
        float: none;
        width: 100%;
        background-color: #f2cc0f;
        margin: 0 auto;
    }
    .photos img{
        height: 400px;
        width: 400px;
        margin-left: 15%;
    }
    .firstv,.secondvid,.thirdvid{
        float:none;
        margin-right: 30px;
        margin-left: 10%;
    }
}

@media(min-width:250px) and (max-width:480px) {
    header,
    section {
    width: 100%;
    }
    nav{
        display: none;
    }
    .topnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
        display: block;
    }
    .topnav #myLinks {
        display: none;
    }
    
    .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }
    
    .topnav a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }
    
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }
    
    .active {
        background-color: #04AA6D;
        color: white;
    }
    .firstphoto,.secondphoto,.thirdphoto,.forthphoto {
        float: none;
        width: 100%;
        background-color: #f2cc0f;
        margin: 0 auto;
    }
    .photos img{
        height: 270px;
        width: 270px;
        margin-left: 15%;
    }
    .firstv,.secondvid,.thirdvid{
        float:none;
        margin-right: 30px;
        margin-left: 5%;
    }
}