nav{
    width: $baseWidth;
    height: 40px;
    background-color: #000;
    ul{
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        a{display: block;
        text-decoration: none;
        color: #fff;
        line-height: 1.5;
        width: 100px;
        text-align: center;
        font-family: curlz;
        &:hover{
            background-color: orangered;
        }}
    }
}